
.icon-brujah:before { content: '\e800'; } /* '' */
.icon-caitiff:before { content: '\e801'; } /* '' */
.icon-gangrel:before { content: '\e802'; } /* '' */
.icon-toreador:before { content: '\e803'; } /* '' */
.icon-ventrue:before { content: '\e804'; } /* '' */
.icon-tremere:before { content: '\e805'; } /* '' */
.icon-malkavian:before { content: '\e806'; } /* '' */
.icon-nosferatu:before { content: '\e807'; } /* '' */
.icon-thin_blood:before { content: '\e808'; } /* '' */
